<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559453634091-ui5rrqo6oomd5dbn77dg91053j2u2q5i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559453634091-ui5rrqo6oomd5dbn77dg91053j2u2q5i</string>
	<key>API_KEY</key>
	<string>AIzaSyB6RIS71LK3I6GJLvqepUCVkPmHHjc-hHM</string>
	<key>GCM_SENDER_ID</key>
	<string>559453634091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.softb</string>
	<key>PROJECT_ID</key>
	<string>soft-b</string>
	<key>STORAGE_BUCKET</key>
	<string>soft-b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559453634091:ios:658216b8de5627dfd8346e</string>
</dict>
</plist>